<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "ui/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "ui/dashboard.css" %}" rel="stylesheet">
  </head>

  <body>


        <main role="main" class="col-md-9 ">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Overview</h1>
          </div>
          <div>
            <div class="jumbotron">
                <h1 class="h1-responsive">Welcome!</h1>
                <p class="lead">This project provides the ability to manage multiple Docker Swarm clusters with a central management tool. swarmA attempts to be a solution for those who want to remotely deploy smaller satellite clusters on IoT (Internet of Things) devices.</p>
                <hr class="my-2">

                <a href="#" id="create_cluster_btn" class="btn btn-primary">Create a New Cluster</a>
            </div>
          </div>
          <br />
          <div class="row d-flex justify-content-around">
              <div class="col">
                  <a href="#" class="btn btn-sq-lg btn-info">
		  <div class="row justify-content-center"><div class="col"><h3>10</h3></div></div><div class="row justify-content-center"><div class="col">CLUSTERS</div></div>
                  </a>
              </div>
              <div class="col">
                  <a href="#" class="btn btn-sq-lg btn-info">
                  <div class="row justify-content-center"><div class="col"><h3>10</h3></div></div><div class="row justify-content-center"><div class="col">NODES</div></div>
                  </a>
              </div>
              <div class="col">
                  <a href="#" class="btn btn-sq-lg btn-info">
                  <div class="row justify-content-center"><div class="col"><h3>10</h3></div></div><div class="row justify-content-center"><div class="col">SERVICES</div></div>
                  </a>
              </div>
          </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "ui/jquery.min.js" %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static "ui/popper.min.js" %}"></script>
    <script src="{% static "ui/bootstrap.min.js" %}"></script>

    <!-- Icons -->
    <script src="{% static "ui/feather.min.js" %}"></script>
    <script>
      feather.replace()
    </script>
    <script>
       $('#create_cluster_btn').click(function() {
         $('#main_panel').load('/create_cluster');
       });
    </script>

  </body>
</html>
