<html>
<head>
{% load static %}
<script src="{% static "ui/jquery.min.js" %}"></script>
<script src="{% static "ui/renderjson.js" %}"></script>

<link rel="stylesheet" href="{% static "ui/stylesheet.css" %}">
<script>
renderjson.set_show_to_level(2);

$(document).ready(function() {
var list_clusters = $.ajax( {
      method:"GET",
      url: "/api/get_cluster_info",
      data: {csrfmiddlewaretoken: "{{ csrf_token }}",
             },
  })
     .done(function( data ) {
         document.getElementById("info").appendChild(renderjson(data));
         //$("#info").html( data );
         var str = JSON.stringify(data, undefined, 4);
         output1(str)
      });

$("#get_cluster_info").click(function(){
  var clustername = $("#cluster_name").val();

  this.disabled = true;
  $("#cluster_display").html("Processing...");
  $("#cluster_display").show(20);

  var $this = $(this);
  var postdata = JSON.stringify({
            clustername: clustername,
            });
  var action_by_user = $.ajax( {
      method:"POST",
      url: "/api/get_cluster_info",
      data: {csrfmiddlewaretoken: "{{ csrf_token }}",
             data: postdata},
  })
     .done(function( data ) {
         $("#get_cluster_info").prop('disabled', false);
         //$("#cluster_display").html(str);
         document.getElementById("cluster_display").appendChild(renderjson(data));
      });
  });
});
</script>

</head>
<body>

<div>
  Cluster name:<br>
  <input type="text" id="cluster_name" ><br>
  <button id="get_cluster_info" >Get Cluster Info</button>
</div>

<div id="info">
    <pre></pre>
</div>

<div id="cluster_display">
</div>
</body>
</html>
